.bg-fade{
    background-color: #f8f8f8;
    padding: 10px;
}
.card {
    border: none;
  }
 .line-height{
    line-height: 1.5;
 }
 .avatar{
    margin: 5px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
 }
 .card .img-container{
    transition-duration: 1s;
    overflow: hidden;
 }
 .card:hover .img-container{
    transform: scale(0.9);
 }
 .overlay{
    bottom: 0;
    right: 0;
    transition-duration: 1s;
    opacity: 0;
 }
 .card:hover .overlay{
    opacity: 1;
    transform: translate(-10px,-10px);

 }
 .z-index-1045{
    z-index: 1045;
 }
.icon-brand{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin: 0px 5px;
   border: 1px solid #eee;
}
.list-style-type-none{
   list-style-type: none;
   padding: 0;
   margin: 0;
}
.contact-us li{
   margin:10px 15px;
   text-align: center;
   cursor: pointer;
   transition-duration: .5s;
}
.contact-us li:hover{
   transform: translateY(-10px);
}

.contact-us a{
   display: block;
   text-decoration:none;
}
.checkbox{
   display: none;
}
.label-toggle-box{
   box-sizing: border-box;
   border: 1px solid white;
   display: flex;
   width:50px;
   height: 30px;
   border-radius: 20px;
   position: relative;
}
.label-toggle-box::after{
   content: '';
   width: 20px;
   height: 20px;
   position: absolute;
}
.ball {
   width: 20px;
   height: 20px;
   position: absolute;
   top: 4px;
   left: 4px;
   border-radius: 50%;
   transition: transform 0.2s linear;
 }
 .checkbox:checked + .label-toggle-box .ball{
   transform: translateX(20px);
 }
 .navbar-toggler{
 }
 .bg-burger-nav{
   background-color: #212529;
 }
 .navbar-toggler span{
   margin: 6px 0px;
   display: block;
   width: 30px;
   height: 2px;
   transition-duration: .5s;

 }
 .navbar-toggler span:nth-child(2){
   width: 15px;
 }